---
layout: layouts/base
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="error-page">
    <span class="error-code">404</span>
    <p class="error-message">Signal lost. The page you're looking for doesn't exist.</p>
    <a href="/" class="error-link">Return to base station</a>
</div>
