<div class="secondary-section">
    <div class="section-head">
        <span class="section-title">Blogroll</span>
    </div>
    <div class="blogroll-content">
        <script src="https://miniroll.app/embed/f31b6ea6-d3fe-468e-b372-2a7f1bd07c1a.js"
            data-show-title="true"
            data-show-favicon="false"
            data-show-description="false"
            data-style="compact"
            data-random="true"
            data-show-suggest="true"></script>
        <noscript>
            <p><a href="https://miniroll.app/embed/f31b6ea6-d3fe-468e-b372-2a7f1bd07c1a">View blogroll on Miniroll</a></p>
        </noscript>
    </div>
</div>
