<div class="secondary-section">
    <div class="section-head">
        <span class="section-title">External Sites</span>
    </div>
    {% for site in external %}
    <a href="{{ site.url }}" class="external-row" target="_blank" rel="noopener">
        <img class="external-icon" src="https://www.google.com/s2/favicons?domain={{ site.url | replace("https://", "") | replace("http://", "") }}&sz=32" alt="" width="26" height="26" loading="lazy">
        <div class="external-info">
            <div class="external-name">{{ site.name }}</div>
            <div class="external-desc">{{ site.description }}</div>
        </div>
        <span class="external-arrow">-></span>
    </a>
    {% endfor %}
</div>
