{% set allPosts = collections.all | excludeDrafts %}

<footer class="signal-footer">
    <span>Post <span class="hl">#{{ allPosts | length }}</span> of <span class="hl">&infin;</span></span>
</footer>
