<nav class="signal-nav">
    <a href="/">Home</a>
    <a href="/archive/">Archive</a>
    <a href="/essays/">Essays</a>
    <a href="https://micro.chrishannah.me">Micro</a>
    <a href="/projects/">Projects</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
    <a href="/subscribe/">Subscribe</a>
</nav>
