{% set allPosts = collections.all | excludeDrafts | reverse %}
{% set recentPosts = allPosts | limit(10) %}

<div class="section-head">
    <span class="section-title">Recent Posts</span>
</div>
{% for post in recentPosts %}
    {% set postTags = post.data.tags or [] %}
    {% if 'essay' in postTags %}
        {% set postType = "essay" %}
        {% set typeIcon = ">>" %}
    {% elif 'link' in postTags %}
        {% set postType = "link" %}
        {% set typeIcon = "->" %}
    {% elif 'micro' in postTags %}
        {% set postType = "micro" %}
        {% set typeIcon = "~" %}
    {% elif 'photography' in postTags %}
        {% set postType = "photo" %}
        {% set typeIcon = "□" %}
    {% elif 'quote' in postTags %}
        {% set postType = "quote" %}
        {% set typeIcon = "\"" %}
    {% else %}
        {% set postType = "post" %}
        {% set typeIcon = "//" %}
    {% endif %}
<article class="signal-feed-item" data-type="{{ postType }}">
    <div class="feed-header">
        <span class="post-type-indicator type-{{ postType }}">{{ typeIcon }}</span>
        <time class="feed-date" datetime="{{ post.data.date }}">{{ post.data.date | displayDate }}</time>
    </div>
    {% if post.data.title %}
        {% if 'link' in postTags and post.data.link %}
        <h3 class="feed-title"><a href="{{ post.data.link }}">{{ post.data.title }} →</a></h3>
        {% else %}
        <h3 class="feed-title"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
        {% endif %}
    {% endif %}
    {% if post.data.image %}
        <a href="{{ post.url }}" class="post-featured-image">
            <img src="{{ post.data.image }}" alt="" loading="lazy">
        </a>
    {% endif %}
    <div class="feed-content content">
        {{ post.content | safe }}
    </div>
    <div class="feed-meta">
        <a href="{{ post.url }}">Permalink</a>
    </div>
</article>
{% endfor %}
<div class="post-list-footer">
    <a href="/page/2/">Older posts -></a>
</div>
