<style>
	.root {
		height: 100%;
		width: 100%;
		display: flex;
		flexDirection: column;
		alignItems: center;
		justifyContent: center;
		backgroundColor: #fff;
		fontSize: 80;
		fontWeight: 600;
		color: rgb(25,25,25);
		padding: 40;
		textAlign: center;

	}
	.title {
		marginTop: 40;
		fontSize: 80;
	}
	.site {
		marginTop: 80;
		fontSize: 40;
		color: #ff8000;
		fontWeight: 1000;
	}
</style>
<div class="root">
	<div class="title">{{ title }}</div>
	<div class="site">Chris Hannah</div>
</div>
