<p>
  <span class="p-author h-card">
    <img class="u-photo" src="https://chrishannah.me/cv/profile.jpg" width="120px"/><br/>
    <a hidden class="u-url" rel="me" href="chrishannah.me">Chris Hannah - Blog</a>

  </span>
</p>

<a href="https://x.com/chrishannah">{% icon "simple:x", {"fill": "currentColor"} %}</a>
<a href="http://instagram.com/lordchrishannah/">{% icon "simple:instagram", {"fill": "currentColor"} %}</a>
<a href="mailto:me@chrishannah.me">{% icon "simple:gmail", {"fill": "currentColor"} %}</a>
<a rel="me" href="https://fosstodon.org/@chrishannah">{% icon "simple:mastodon", {"fill": "currentColor"} %}</a>
<a href="https://github.com/chrishannah">{% icon "simple:github", {"fill": "currentColor"} %}</a>
</p>

<p id="currently-listening">
        Currently Listening
        <script src="https://recentfm.rknight.me/now.js?u=chrisrhannah&e=→"
        defer></script>
{% icon "lucide:audio-lines" %}
</p>
