<p>
    <a href="https://x.com/chrishannah">{% icon "simple:x", {"fill": "currentColor"} %}</a>
    <a href="http://instagram.com/lordchrishannah/">{% icon "simple:instagram", {"fill": "currentColor"} %}</a>
    <a href="mailto:me@chrishannah.me">{% icon "simple:gmail", {"fill": "currentColor"} %}</a>
    <a rel="me" href="https://fosstodon.org/@chrishannah">{% icon "simple:mastodon", {"fill": "currentColor"} %}</a>
    <a href="https://github.com/chrishannah">{% icon "simple:github", {"fill": "currentColor"} %}</a>
</p>

<ul id="footer-nav">
    <li>
        <a href="/about">about</a>
    </li>
    <li>
        <a href="/contact">contact</a>
    </li>
    <li>
        <a href="/colophon">colophon</a>
    </li>
    <li>
        <a href="/uses">uses</a>
    </li>
    <li>
        <a href="/subscribe">subscribe</a>
    </li>
</ul>

<p>
    <a href="https://xn--sr8hvo.ws/previous">←</a>
An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
<a href="https://xn--sr8hvo.ws/next">→</a>
</p>
