<p>
	<span class="p-author h-card">
		<img class="u-photo" src="https://chrishannah.me/cv/profile.jpg" width="120px"/><br/>
		<a hidden class="u-url" rel="me" href="chrishannah.me">Chris Hannah - Blog</a>

	</span>
</p>
<a href="https://twitter.com/chrishannah">Twitter</a> • <a href="http://instagram.com/lordchrishannah/">Instagram</a>
  • <a href="mailto:me@chrishannah.me">Email</a> • <a rel="me" href="https://fosstodon.org/@chrishannah">Mastodon</a> •
  <a href="https://github.com/chrishannah">GitHub</a>
</p>
