<div id="header-titles">
    <span class="title">
        <a href={{ "/" | url }}>{{ site.title }}</a>
    </span>
    <br/>
    <span class="description">{{ site.description }}</span>
    <br />
    <p id="currently-listening">
        Currently Listening 
        <script src="https://recentfm.rknight.me/now.js?u=chrisrhannah&e=➪"></script>
        {% icon "lucide:audio-lines" %}
    </p>
</div>
