<header>
	<span class="p-author h-card h-card-hidden">
		<img class="u-photo" src="{{ author.photo }}" alt="{{ author.name }}" width="100" height="100"/>
		<a class="u-url" rel="me" href="{{ author.url }}">{{ author.name }}</a>
	</span>
	<h1 class="title">
		<a href="{{ '/' | url }}">{{ site.title }}</a>
	</h1>
	{% include "nav.njk" %}
</header>

