<span class="p-author h-card">
    <img hidden class="u-photo" src="/cv/profile.jpg" width="40px"/>
    <a hidden class="u-url" rel="me" href="chrishannah.me">Chris Hannah</a>
</span>

<nav class="navigation-small" role="navigation" aria-label="main navigation">
	<ul class="small-nav left-nav">
		<li>
			<a href="/" class="home-button"></svg>Chris Hannah</a>
		</li>
		<li>
			<a href="/essays"></svg>Essays</a>
		</li>
		<li>
			<a href="/micro"</svg>Micro</a>
		</li>
		<li>
			<a href="/photography"></svg>Photography</a>
		</li>
		<li>
			<a href="/archive">Archive</a>
		</li>
	</ul>

	<ul class="small-nav right-nav">
		<li>
			<a href="/about" class="slash-link">/about</a>
		</li>
		<li>
			<a href="/contact" class="slash-link">/contact</a>
		</li>
		<li>
			<a href="/colophon" class="slash-link">/colophon</a>
		</li>
		<li>
			<a href="/uses" class="slash-link">/uses</a>
		</li>
		<li>
			<a href="/subscribe" class="slash-link">/subscribe</a>
		</li>
	</ul>
</nav>

