<div class="header-content">
    <span class="p-author h-card">
        <img class="u-photo" src="/cv/profile.jpg" alt="Chris Hannah" width="100" height="100"/>
        <a hidden class="u-url" rel="me" href="https://chrishannah.me">Chris Hannah</a>
    </span>
    <div class="header-text">
        <h1 class="title">
            <a href="{{ '/' | url }}">{{ site.title }}</a>
        </h1>
        <p class="tagline">Code, camera, keyboard</p>
    </div>
</div>
