<nav role="navigation" aria-label="main navigation">
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/essays">Essays</a>
		</li>
		<li>
			<a href="/blog">Blog</a>
		</li>
		<li>
			<a href="/micro">Micro</a>
		</li>
		<li>
			<a href="/photography">Photography</a>
		</li>
		<li>
			<a href="/archive">Archive</a>
		</li>
	</ul>
	<br/>
	<ul>
		<li>
			<a href="/about">/about</a>
		</li>
		<li>
			<a href="/contact">/contact</a>
		</li>
		<li>
			<a href="/colophon">/colophon</a>
		</li>
		<li>
			<a href="/uses">/uses</a>
		</li>
		<li>
			<a href="/subscribe">/subscribe</a>
		</li>
	</ul>
</nav>
