<nav role="navigation" aria-label="main navigation">
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/photography">Photography</a>
		</li>
		<li>
			<a href="/essays">Essays</a>
		</li>
		<li>
			<a href="/archive">Archive</a>
		</li>
		<li>
			<a href="/">2024</a>
		</li>
		<li>
			<a href="/support">Support</a>
		</li>
	</ul>
</nav>
