@font-face {
  font-family: Dosis;
  src: url("/fonts/dosis/Dosis-Book.ttf") format("truetype");
}

@font-face {
  font-family: Dosis-Bold;
  src: url("/fonts/dosis/Dosis-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Dosis;
  font-weight: bold;
  src: url("/fonts/dosis/Dosis-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Rowdies;
  src: url("/fonts/rowdies/Rowdies-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Rowdies;
  font-weight: 200;
  src: url("/fonts/rowdies/Rowdies-Light.ttf") format("truetype");
}

@font-face {
  font-family: Rowdies;
  font-weight: bold;
  src: url("/fonts/rowdies/Rowdies-Bold.ttf") format("truetype");
}
