{% if living %}
<div class="living-document-notice">
	<p><strong>Note</strong>: This is a <emphasis>living document</emphasis> that is regularly updated, and may not yet be in it's final form.</p>
</div>
{% endif %}
