<article class="h-entry">
	<div class="post-body">
		<div class="e-content">
			{{ post.content | safe }}
		</div>
		<div class="post-meta">
			<p>
				<a style="display: none;" rel="author" class="p-author h-card" href="…">Chris Hannah</a>
				<a class="u-url" href="{{ post.url | url }}">
					<time class="dt-published" datetime="{{ post.data.date }}">{{ post.data.date | displayDate }}</time><br/></a>
			</p>
		</div>
	</div>
</article>
