<article class="h-entry">
	<header>
		{% if post.data.image %}
			<img class="u-featured" src="{{ post.data.image }}"/>
		{% endif %}
		<div class="post-meta">
			<time class="dt-published" datetime="{{ post.data.date }}">{{ post.data.date | displayDate }}</time>
		</div>
		<h1 id="title" class="p-name">
			<a href="{{ post.url | url }}">{{ post.data.title }}</a>
		</h1>
	</header>

	<div class="post-body">
		<div class="e-content">
			{{ post.content | safe }}
		</div>

		<div class="post-meta">
			<p>
				<a href="{{ post.url | url }}">Permalink</a>
			</p>
		</div>
	</div>

</article>
