<article class="h-entry">
  {% if post.data.image %}
    <img src="{{ post.data.image }}" alt="" class="list-card-image"/>
  {% endif %}

  <h1 class="p-name">
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </h1>

  <div class="post-meta">
    <p>
      <time class="dt-published" datetime="{{ post.data.date }}">{{ post.data.date | displayDate }}</time>
    </p>
  </div>

  <div class="content">
    {{ post.content | safe }}
  </div>

  <div class="post-meta">
    <p>
      <a style="display: none;" rel="author" class="p-author h-card" href="…">Chris Hannah</a>
      <a class="u-url" href="{{ post.url | url }}">Permalink</a>
    </p>
  </div>
</article>
