{% for post in posts %}
  {% set postTags = post.data.tags or [] %}
  {% set postTypeUrl = "" %}
  {% set postTypeKey = "post" %}
  {% if 'essay' in postTags %}
      {% set postType = "Essay" %}
      {% set postTypeKey = "essay" %}
      {% set postTypeUrl = "/essay/" %}
  {% elif 'link' in postTags %}
      {% set postType = "Link" %}
      {% set postTypeKey = "link" %}
      {% set postTypeUrl = "/link/" %}
  {% elif 'micro' in postTags %}
      {% set postType = "Micro" %}
      {% set postTypeKey = "micro" %}
      {% set postTypeUrl = "/micro/" %}
  {% elif 'photography' in postTags %}
      {% set postType = "Photo" %}
      {% set postTypeKey = "photography" %}
      {% set postTypeUrl = "/photography/" %}
  {% elif 'quote' in postTags %}
      {% set postType = "Quote" %}
      {% set postTypeKey = "quote" %}
  {% elif 'music' in postTags %}
      {% set postType = "Music" %}
      {% set postTypeKey = "music" %}
      {% set postTypeUrl = "/music/" %}
  {% else %}
      {% set postType = "Post" %}
      {% set postTypeKey = "post" %}
      {% set postTypeUrl = "/post/" %}
  {% endif %}

<article class="post-entry h-entry" data-type="{{ postTypeKey }}">
    <div class="entry-date">{% if postTypeUrl %}<a class="type" href="{{ postTypeUrl }}">{{ postType }}</a>{% else %}<span class="type">{{ postType }}</span>{% endif %} — <time class="dt-published" datetime="{{ post.data.date }}">{{ post.data.date | displayDate }}</time></div>
    {% if 'music' in postTags and post.data.artwork %}
        <img src="{{ post.data.artwork }}" alt="" class="music-artwork"/>
    {% elif post.data.image %}
        <img src="{{ post.data.image }}" alt="" class="list-card-image"/>
    {% endif %}
    {% if post.data.title %}
        {% if 'link' in postTags and post.data.link %}
        <h2 class="p-name"><a href="{{ post.data.link }}">{{ post.data.title }} →</a></h2>
        {% else %}
        <h2 class="p-name"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        {% endif %}
    {% endif %}
    <div class="entry-excerpt content">
        {{ post.content | safe }}
    </div>
    <div class="post-meta">
        <a style="display: none;" rel="author" class="p-author h-card" href="{{ author.url }}">{{ author.name }}</a>
        <a class="u-url" href="{{ post.url | url }}">Permalink</a>
    </div>
</article>
{% endfor %}

<nav class="pagination">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">← Newer</a>
  {% else %}
    <span class="disabled">← Newer</span>
  {% endif %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">Older →</a>
  {% else %}
    <span class="disabled">Older →</span>
  {% endif %}
</nav>
