---
layout: layouts/archive
permalink: archive/
title: Archive
---

<div class="content">
<p class="intro-text">A chronological collection of all posts, micro updates, and thoughts from across the years.</p>

<p>You can also view the archive for each type of post:</p>

<ul>
  <li><a href="/archive/post/">Posts</a></li>
  <li><a href="/archive/essay/">Essays</a></li>
  <li><a href="/archive/link/">Links</a></li>
  <li><a href="/archive/micro/">Micro</a></li>
  <li><a href="/archive/music/">Music</a></li>
</ul>
</div>

<hr/>

{% set archivePosts = collections.all %}
{% set showType = true %}
{% include "partials/archive-list.njk" %}
