---
layout: layouts/archive
permalink: archive/
title: Archive
---

<p class="intro-text">A chronological collection of all posts, micro updates, and thoughts from across the years.</p>

<hr/>

{% set currentYear = 1000 %}
{% set currentMonth = 12 %}
{% set firstMonthPrinted = false %}

{% for post in collections.post | reverse %}
  {% set postYear = post
    .data
    .date
    .getFullYear() %}
  {% set postMonth = post
    .data
    .date
    .getMonth() %}

  {% if postYear != currentYear %}
    {% if firstMonthPrinted %}
    </div>
  {% endif %}
  {% if currentMonth != 12 or currentYear != 1000 %}
    <hr class="year-divider">
  {% endif %}
{% endif %}

{% if postMonth != currentMonth or postYear != currentYear %}
  {% if firstMonthPrinted and postYear == currentYear %}
  </div>
{% endif %}
<h3 class="archive-month-header">{{ postMonth | monthNumberToName }}
  {{ postYear }}</h3>
<div class="archive-month-group">
{% endif %}

<li>
  <span class="post-meta monospace-font">{{ post.data.date | fixedDisplayDate }}</span>

  {% if post.data.title %}
    <a href="/{{ post.data.permalink }}" class="list-card-title archive-title">{{ post.data.title }}</a>
  {% else %}
    <a href="/{{ post.data.permalink }}" class="list-card-title archive-title">{{ post.content | microExcerpt }}</a>
  {% endif %}

  {% if post.data.summary %}
    {{ post.data.summary }}
  {% endif %}

  {% if post.data.tags | filterTagList %}
     {% for tag in post.data.tags | filterTagList %}
      <span class="post-meta monospace-font">#{{tag}}</span>
    {% endfor %}
  {% endif %}
</li>

{% set currentYear = postYear %}
{% set currentMonth = postMonth %}
{% set firstMonthPrinted = true %}

{% endfor %}

{% if firstMonthPrinted %}
</div>
{% endif %}
