---
layout: layouts/home-steno
tags:
  - nav
navtitle: Posts
title: ''
pagination:
  data: collections.all
  size: 10
  reverse: true
  alias: posts
permalink: "{{ pagination.pageNumber | getBlogPermalinkSuffixFromPageNum }}"
eleventyExcludeFromCollections: true
---

{% include "partials/post-entries.njk" %}
