---
layout: layouts/base
tags:
  - nav
navtitle: Posts
title: ''
pagination:
  data: collections.all
  size: 10
  reverse: true
  alias: posts
permalink: "{{ pagination.pageNumber | getBlogPermalinkSuffixFromPageNum }}"
---

{% if pagination.pageNumber == 0 %}
<p class="intro-text">Below is a feed of all of my articles, status updates, photos, and essays, enjoy!</p>
<hr />
{% endif %}

{% for post in posts %}
  {% if post.data.tags and "micro" in post.data.tags %}
    {% include "partials/micro.njk" %}
  {% elseif post.data.tags and "link" in post.data.tags%}
    {% include "partials/link.njk" %}
  {% else %}
    {% include "partials/post.njk" %}
  {% endif %}
{% endfor %}

<nav class="pagination">
  {% if pagination.href.previous %}
    <span id="newer">
      <a href="{{ pagination.href.previous }}">← Newer</a>
    </span>
  {% endif %}

  {% if pagination.href.next %}
    <span id="older">
      <a href="{{ pagination.href.next }}">Older →</a>
    </span>
  {% endif %}
</nav>
