---
layout: layouts/home-steno
title: Essays
pageType: essay
pagination:
  data: collections.essay
  size: 10
  reverse: true
  alias: posts
permalink: "essay/{{ pagination.pageNumber | getPermalinkSuffixFromPageNum }}"
eleventyExcludeFromCollections: true
---

{% include "partials/post-entries.njk" %}
