---
layout: layouts/archive
permalink: essays/
title: Essays
---

{%- for post in collections.essay | reverse %}
  {% set postYear = post.data.date.getFullYear() %}
  {% if postYear != currentYear %}
    <h3>{{ postYear }}</h3>
    <div class="essays-year-group">
  {% endif %}

  <div class="essay-listing">
    <div class="essay-listing-main">
      <a href="/{{ post.data.permalink }}" class="essay-title-link">
        {{ post.data.title }}
      </a>
      {% if post.data.summary %}
        <div class="essay-summary">{{ post.data.summary }}</div>
      {% endif %}
    </div>
    {% if post.data.image %}
      <img src="{{ post.data.image }}" alt="" class="essay-listing-image" />
    {% endif %}
  </div>

  {% set currentYear = postYear %}
{%- endfor %}
