---
title: Home
layout: layouts/base.njk
permalink: /
---

<details id="bio" open>
    <summary class="home-bio large-text">
    👋 Hi, I’m Chris. I build things.
    </summary>

    <p class="home-bio">
    👨🏻‍💻 I work as a Senior Software Engineer at <a id="wf-link" href="https://www.worldfirst.com">WorldFirst</a> where I work on all types of software, using Java, Python, JavaScript, and anything else I can get my hands on.
    </p>

    <p class="home-bio">
    💻 Even when I'm not at work, I still spend most of my time writing code. I've got a bunch of open-source stuff on <a id="gh-link" href="https://github.com/chrishannah/">GitHub</a>, and also a few apps: <a id="tc-link" href="https://textcase.app/">Text Case</a>, and <a id="ts-link" href="https://chrishannah.me/text-shot/">Text Shot</a>.
    </p>

    <p class="home-bio">
    📝 When I’m not writing code, I’m usually writing here on my <a id="b-link"
    href="https://chrishannah.me/blog/">blog</a>. It tends to be focussed on technology, but is now becoming a bit more personal.
    </p>

    <p class="home-bio">
    📸 I also sometimes think of myself as a photographer. I post some of that
    <a id="b-link" href="https://chrishannah.me/photography">here</a>, but I also post a lot more to <a id="ig-link" href="https://instagram.com/lordchrishannah">Instagram</a>.
    </p>

    <p class="home-bio">
    📫 If you want to reach me, I’d suggest <a id="ms-link" href="https://fosstodon.org/@chrishannah">Mastodon</a>, <a id="tw-link" href="https://twitter.com/chrishannah">Twitter</a>, or <a id="em-link" href="mailto:chris@chrishannah.me">Email</a>.
    </p>
</details>

<div class="home-blog">
    <h2>Recent Writing</h2>
    {% set posts = collections.all | reverse %}
    {% for post in posts.slice(0, 10) %}
        {% if "micro" in post.data.tags%}
            {% include "partials/micro.njk" %}
        {% elseif "link" in post.data.tags%}
            {% include "partials/link.njk" %}
        {% else %}
            {% include "partials/post.njk" %}
        {% endif %}
    {% endfor %}

    <nav>
        <span class="page-item" style="float: right;">
            <a class="page-link" href="https://chrishannah.me/blog/2">Older &rarr;</a>
        </span>
    </nav>
</div>
