---
layout: layouts/home-steno
title: Links
pagination:
  data: collections.link
  size: 10
  reverse: true
  alias: posts
permalink: "link/{{ pagination.pageNumber | getPermalinkSuffixFromPageNum }}"
eleventyExcludeFromCollections: true
---

{% include "partials/post-entries.njk" %}
