---
layout: layouts/archive
permalink: links/
title: Links
---
{% set currentYear = 1000 %}
{% set currentMonth = 12 %}

{% for post in collections.link | reverse %}
	{% set postYear = post
		.data
		.date
		.getFullYear() %}

	{% set postMonth = post
		.data
		.date
		.getMonth() %}

	{% if postYear != currentYear %}
		{% if firstMonthPrinted %}
			<hr>
		{% endif %}
	{% endif %}

	{% if postMonth != currentMonth %}
		{% if firstMonthPrinted %}
	</ul>
{% endif %}
<h3 class="archive-month-header">{{ postMonth | monthNumberToName }} {{ postYear }}</h3>
<ul class="archive-list">
{% endif %}

<li>
	{% if post.data.title %}
		<a href="/{{ post.data.permalink }}">{{ post.data.title }}</a>
	{% else %}
		<a href="/{{ post.data.permalink }}">{{ post.content | microExcerpt }}</a>
	{% endif %}
</li>

{% set currentYear = postYear %}
{% set currentMonth = postMonth %}
{% set firstMonthPrinted = true %}

{% endfor %}
