---
layout: layouts/base
tags:
  - nav
navtitle: Micro
title: Micro Posts
pagination:
  data: collections.micro
  size: 10
  reverse: true
  alias: posts
permalink: "micro/{{ pagination.pageNumber | getPermalinkSuffixFromPageNum }}"
---

{% for post in posts %}
  {% if "micro" in post.data.tags%}
    {% include "partials/micro.njk" %}
  {% elseif "link" in post.data.tags%}
    {% include "partials/link.njk" %}
  {% else %}
    {% include "partials/post.njk" %}
  {% endif %}
{% endfor %}

<nav class="pagination">
  {% if pagination.href.previous %}
    <span class="page-item">
      <a class="page-link" href="{{ pagination.href.previous }}">← Newer</a>
    </span>
  {% endif %}

  {% if pagination.href.next %}
    <span class="page-item">
      <a class="page-link" href="{{ pagination.href.next }}">Older →</a>
    </span>
  {% endif %}
</nav>

