---
layout: layouts/home-steno
title: Micro
pageType: micro
pagination:
  data: collections.micro
  size: 10
  reverse: true
  alias: posts
permalink: "micro/{{ pagination.pageNumber | getPermalinkSuffixFromPageNum }}"
eleventyExcludeFromCollections: true
---

{% include "partials/post-entries.njk" %}
