---
layout: layouts/home-steno
title: Music
pagination:
  data: collections.music
  size: 10
  reverse: true
  alias: posts
permalink: "music/{{ pagination.pageNumber | getPermalinkSuffixFromPageNum }}"
eleventyExcludeFromCollections: true
---

{% include "partials/post-entries.njk" %}
