---
layout: layouts/home-steno
title: Posts
pageType: post
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
permalink: "post/{{ pagination.pageNumber | getPermalinkSuffixFromPageNum }}"
eleventyExcludeFromCollections: true
---

{% include "partials/post-entries.njk" %}
