---
layout: layouts/base
---

<article class="h-entry">
	<header>
		{% if image %}
			<img class="u-featured" src="{{ image }}"/>
		{% endif %}
		<h1 id="title-link" class="p-name">
			{{ title }} →
		</h1>
		<div class="post-meta">
			<a href="{{ link | url }}">{{ link | cleanUrl | url }}</a>
		</div>
	</header>

	<div class="post-body">
		<div class="e-content">
			{{ content | safe }}
		</div>
		<div class="post-meta">
			<p>
				<time class="dt-published" datetime="{{ page.date }}">{{ page.date | displayDate }}</time><br/>
				<a href="{{ page.url | url }}">Permalink</a>
				<br/>
				<a href="{{ link | url }}">Source</a><br/>
				<a href="mailto:chris@chrishannah.me?subject=RE%3A%20{{ title }}">Reply via Email</a>
			</p>
		</div>

		<p>
			<button class="tinylytics_kudos"></button>
		</p>

		<div class="post-comments">
			<div id="webmentions"></div>
		</div>
	</div>
</article>
