---
layout: layouts/base
---

<article class="h-entry">
    {% if image %}
        <img src="{{ image }}" alt="" class="list-card-image"/>
    {% endif %}

    <div class="post-meta">
        <p>
            <time class="dt-published" datetime="{{ date }}">{{ date | displayDate }}</time>
        </p>
    </div>

    <div class="content">
        {{ content | safe }}
    </div>

    <div class="post-meta">
        <p>
            <a style="display: none;" rel="author" class="p-author h-card" href="…">Chris Hannah</a>
            <a class="u-url" href="{{ url | url }}">Permalink</a>
            <br/>
            <a href="mailto:chris@chrishannah.me?subject=RE%3A%20{{ title }}">Reply via Email</a>
        </p>
    </div>

    <p>
        <button class="tinylytics_kudos"></button>
    </p>
</article>
