---
layout: layouts/base
---

<article class="h-entry">
    {% if image %}
        <img src="{{ image }}" alt="" class="list-card-image"/>
    {% endif %}

    <h1 class="p-name">
        <a href="{{ url | url }}">{{ title }}</a>
    </h1>

    <div class="post-meta">
        <p>
            <time class="dt-published" datetime="{{ date }}">{{ date | displayDate }}</time>
        </p>
    </div>

    <div class="content">
        {{ content | safe }}
    </div>

    {% include "partials/post-footer.njk" %}
</article>
